@mixin ombrage ($couleur){
	-moz-box-shadow: 0px 4px 9px 0px $couleur;
	-webkit-box-shadow: 0px 4px 9px 0px $couleur;
	-o-box-shadow: 0px 4px 9px 0px $couleur;
	box-shadow: 0px 4px 9px 0px $couleur;
}

@mixin border-radius ($taille){
	-moz-border-radius: $taille;
	-webkit-border-radius: $taille;
	-o-border-radius: $taille;
	border-radius: $taille;
}

@mixin scale-avant(){
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
}

@mixin scale-apres(){
	z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.3); 
}

@mixin animation-box($nom, $time, $period){
	-o-animation-name: $nom;
	-o-animation-duration: $time;
	-o-animation-iteration-count: $period;
	-moz-animation-name: $nom;
	-moz-animation-duration: $time;
	-moz-animation-iteration-count: $period;
	-webkit-animation-name: $nom;
	-webkit-animation-duration: $time;
	-webkit-animation-iteration-count: $period;
	animation-name: $nom;
	animation-duration: $time;
	animation-iteration-count: $period;
}

@mixin animation-box-keyframes(){
	0%   {border: 5px solid $bordeau;}
    25%  {border: 7px solid $bordeau;}
    50%  {border: 9px solid $bleuciel;}
    75%  {border: 11px solid $bordeau;}
    100% {border: 13px solid $bordeau;}
}


@mixin animation-theme1(){
	0%   {display: block; opacity: 1;}
    14%  {display: none; opacity: 0;}
    30%  {display: none; opacity: 0;}
    45%  {display: none; opacity: 0;}
    60%  {display: none; opacity: 0;}
    85% {display: none;opacity: 0;}
    100%  {display: none; opacity: 0;}
}

@mixin animation-theme2(){
	0%   {display: none; opacity: 0;}
    14%  {display: block; opacity: 1;}
    30%  {display: none; opacity: 0;}
    45%  {display: none; opacity: 0;}
    60%  {display: none; opacity: 0;}
    85% {display: none;opacity: 0;}
    100%  {display: none; opacity: 0;}
}

@mixin animation-theme3(){
	0%   {display: none; opacity: 0;}
    14%  {display: none; opacity: 0;}
    30%  {display: block; opacity: 1;}
    45%  {display: none; opacity: 0;}
    60%  {display: none; opacity: 0;}
    85% {display: none;opacity: 0;}
    100%  {display: none; opacity: 0;}
}

@mixin animation-theme4(){
	0%   {display: none; opacity: 0;}
    14%  {display: none; opacity: 0;}
    30%  {display: none; opacity: 0;}
    45%  {display: block; opacity: 1;}
    60%  {display: none; opacity: 0;}
    85% {display: none;opacity: 0;}
    100%  {display: none; opacity: 0;}
}

@mixin animation-theme5(){
	0%   {display: none; opacity: 0;}
    14%  {display: none; opacity: 0;}
    30%  {display: none; opacity: 0;}
    45%  {display: none; opacity: 0;}
    60%  {display: block; opacity: 1;}
    85% {display: none;opacity: 0;}
    100%  {display: none; opacity: 0;}
}

@mixin animation-theme6(){
	0%   {display: none; opacity: 0;}
    14%  {display: none; opacity: 0;}
    30%  {display: none; opacity: 0;}
    45%  {display: none; opacity: 0;}
    60%  {display: none; opacity: 0;}
    85% {display: block;opacity: 1;}
    100%  {display: none; opacity: 0;}
}

@mixin animation-theme7(){
	0%   {display: none; opacity: 0;}
    14%  {display: none; opacity: 0;}
    30%  {display: none; opacity: 0;}
    45%  {display: none; opacity: 0;}
    60%  {display: none; opacity: 0;}
    85% {display: none;opacity: 0;}
    100%  {display: block; opacity: 1;}
}

