$bordeau : #fa4a6b;
$fondSite : #f3f0f1;
$white : #ffffff;
$black : #000000;
$bleuciel: #40affc;
$facebook : #3B5998;
$twitter: #DF4A32;
$gris : #adadad;
$grisClair: #e3e1e1;
$bleuBouton : #5BC0DE;
$fondProfil: #7b7b7b;
$couleurOmbre: #656565;
$grisSombre: #222222;
$bleuFonce: #414d54;