/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_variables";
@import "_mixins";

img{
	vertical-align: middle;
}

.carousel{
	margin-top: 80px;
}

.corps{
	margin-top: 145px;
}

.container{
	font-family: 'Inconsolata', monospace;
}

.container-fluid{
	padding: 0;
}

.alignCenter{
	text-align: center;
}

.statNdem{
    background: #c0e0f7;
    border-radius: 50%;
    color: #fa4a6b;
    padding: 0 4px;
    /* border: 2px solid #ffffff; */
    font-size: 9px;
}

.top-recherche{
	top: 102px;
    background-color: $grisClair;
    position: fixed;
    width: 100%;
    z-index: 1500;
}

.top-header{
	background-color: $bordeau;
	//font-family: 'Baloo Bhaina', cursive;
	font-family: 'Oswald', sans-serif;
	position: fixed;
    width: 100%;
    z-index: 1000;
    moz-box-shadow: 0px 4px 10px 0px #656565;
    -webkit-box-shadow: 0px 4px 10px 0px #656565;
    -o-box-shadow: 0px 4px 10px 0px #656565;
    box-shadow: 0px 4px 10px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=10);
	.top-menu{

		a{
			color: $white;
			&:hover{
				color: $bordeau;
			}
			
		}


		

	}

	.reseaux{
		text-align: right;
		color: $white;

		.info-user{
			display: inline-block;
			.nav li{
				a{
					color: $white;
					padding-top: 29px;
					&:hover{
						color: $white;
						background: none;
						font-size: 30px;
					}
				}
			}

			.photoConnecte{
		    	
		    	img{
		    		@include border-radius(50%);
		    	}
			}
		}
		
	}


}

.header{
	//background-image: url('http://localhost/nendempas/web/bundles/nnpplatform/images/top-banner.jpg');
	width: 100%;
	height: 150px;
	
}

.bloclendem{
	background-image: url('http://localhost/nendempas/web/bundles/nnpplatform/images/fondndem.jpg');
	width: 100%;
}


.bande{
	background-color: $bordeau;
	@include ombrage($couleurOmbre);
	.menu-central{
		text-align: right;
		//font-family: 'Baloo Bhaina', cursive;
		font-family: 'Oswald', sans-serif;
		font-size: 20px;
		a{
			color: $white;
			&:hover{
				color: $bordeau;
			}
		}

		.glyphicon{
			color: $white;
			&:hover{
				color: $bordeau;
			}
		}
	}
	
}

.menu-user{
	text-align: right;
	padding-top: 20px;

	a{
		color: $white;
		&:hover{
			color: $bordeau;
			background-color: $grisClair;
		}
	}
	.info-user{
		display: inline-block;
		background-color: $white;
		.nav li{
			color: $bordeau;
			.caret{
				margin-left: 20px;
				zoom: document;
			}
			&.open{
				background-color: $bordeau;
				a{
					color: $bordeau;
				}
				ul{
					background-color: $fondProfil;
					li{
						a{
							color: $white;
							&:hover{
								color: $bordeau;
							}
						}
					}
				}

			}
			
			
		}

	}
}

.slogan{
	color: #fff;
    padding: 0 0 5px 10px;
}
.logo{
	position: absolute;
    top: 16px;
    left: 190px;
    z-index: 22;
}

@keyframes car-theme {
    @include animation-theme1();
}
@keyframes njo-theme {
    @include animation-theme2();
}
@keyframes amo-theme {
    @include animation-theme3();
}
@keyframes mod-theme {
    @include animation-theme4();
}
@keyframes rel-theme {
    @include animation-theme5();
}
@keyframes kwa-theme {
    @include animation-theme6();
}
@keyframes vid-theme {
    @include animation-theme7();
}

.top-animation{

	position: fixed;
    z-index: 1500;
    width: 100%;

	.animation{
		position: relative;
		.anim{
			position: absolute;
		    top: 138px;
		    right: 13px;
			font-family: 'Oswald', sans-serif;
			font-size: 40px;
			color: $bordeau;
			&.texte1{

		    	@include animation-box(car-theme,9s,infinite);
		    }
		    &.texte2{
		    	@include animation-box(njo-theme,9s,infinite);
		    }
		    &.texte3{
		    	@include animation-box(amo-theme,9s,infinite);
		    }
		    &.texte4{
		    	@include animation-box(mod-theme,9s,infinite);
		    }
		    &.texte5{
		    	@include animation-box(rel-theme,9s,infinite);
		    }
		    &.texte6{
		    	@include animation-box(kwa-theme,9s,infinite);
		    }
		    &.texte7{
		    	@include animation-box(vid-theme,9s,infinite);
		    }
		}
	}

}

.top-connexion{
	position: fixed;
    width: 100%;
    z-index: 2000;

	.connexion{
		width: 380px;
		//background-color: $bordeau;
		background-color: rgba(250, 74, 107, 0.70); 
		padding-top: 10px;
		padding-bottom: 10px;
		position: absolute;
	    top: 201px;
	    right: 28px;
	    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	    font-size: 14px;
	    @include border-radius(10px);

		.logwith{
			width: 42%;
			margin-left: 5%;
			border-radius: 5px;
			color: $white;
			text-align: center;
			float: left;
			padding: 10px;
			margin-top: 10px;
			&.fbk{
				background-color: $facebook;
			}
			&.gml{
				background-color: $twitter;
			}

			a{
				color: $white;
			}
		}

		&.register{
			bottom: 94px;
		}

		.loggin{
			width: 89%;
			//height: 180px;
			float: left;
			margin-left: 5%;
			background-color: $white;
			margin-top: 10px;
			border-radius: 5px;
			padding: 15px;

			label{
				width: 45%;
				padding-bottom: 7px;
				padding-top: 7px;
			}

			input{
				background-color: $grisClair;
				border: 1px solid $gris;
				padding: 5px;
				width: 50%;
				margin-bottom: 10px;
			}

			input[type=submit]{
				width: 100%;
				margin-top: 10px;
				background-color: $facebook;
				@include border-radius(5px);
				padding: 8px;
				color: $white;
				&:hover{
					background-color: $bordeau;
				}
			}

			#fos_user_registration_form{

				div{
					margin-bottom: 5px;
				}

				input{
					width: 55%;
					background-color: $grisClair;
					border: 1px solid $gris;
				}
			}
		}

		.newlog{
			width: 89%;
			float: left;
			margin-left: 5%;
			background-color: $bleuciel;
			margin-top: 10px;
			text-align: center;
			color: $white;
			padding: 10px;
			font-size: 18px;
			border: solid #dae6ff 5px;
			background: #6db3f2;
			background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 54%, #1e69de 100%);
			background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 54%,#1e69de 100%);
			background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 54%,#1e69de 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
			@include border-radius(5px);
			a{
				color: $white;
				&:hover{
					color: $bordeau;
					text-decoration: none;
				}
			}

			&:hover{
				background: $bordeau;
				a{
					color: $white;
				}
			}
		}
	}

}



.formulaire {

	background-color: $white;
	height: 130px;
	width: 100%;
    margin: auto;

	.photo-post{
		float: left;
		background-color: $white;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 20px;
		margin-left: 14px;
		width: 50px;
		height: 50px;
		img{
			border-radius: 50%;
		}
	}

	.ndemFormCat {
		text-align: right;
		margin-top: 0;
		float: left;
		width: 85%;
		margin-bottom: 0;
		label{
			display: none;
		}

		div{
			display: inline-block;
			float: left;
			margin: 0;

			&:first-child{
				width: 100%;
			}
			&:nth-child(2){
				width: 100%;
				text-align: right;
			}
		}

		#form_texte{
			width: 100%;
			height: 75px;
			border: none;
    		background-color: $grisRose;
		}

		#form_save{
			width: 25%;
			width: 11%;
    		padding: 5px;
    		border-radius: initial;
		}
	}
	
}



.slider{
	//background-color: $bordeau;
	background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/banniere1.jpg');
	width: 100%;
	height: 500px;
	//border-top: 5px solid $bordeau;
	//border-bottom: 5px solid $bordeau;
	@include ombrage($couleurOmbre);
		
	.inscription{

	}
	

}

@-o-keyframes backplay {
    @include animation-box-keyframes();
}

@-moz-keyframes backplay {
    @include animation-box-keyframes();
}

@-webkit-keyframes backplay {
    @include animation-box-keyframes();
}

@keyframes backplay {
    @include animation-box-keyframes();
}

.home-1{
	/* margin-top: 20px; */
	padding: 20px 0;
	.theme{
		float: left;
		margin-left: 10px;
		width: 30%;
		@include ombrage($couleurOmbre);
		border-radius: 5px;
		margin-bottom: 20px;
		position: relative;

		&.carriere{
			background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/carriere.jpg');
			width: 100%;
			height: 300px;
			background-repeat: no-repeat;
			background-size: cover;
			//border: 5px solid $bordeau;
			@include scale-avant(); 

		    &:hover{
			    @include scale-apres();
			    .info-categorie{
					display: block;
				}
				.info-ndemeur{
					display: block;
				}
		    }

		    &.maxNdem{
		    	@include animation-box(backplay,1s,infinite);
		    }
		}

		&.njoka{
			background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/njoka.jpg');
			width: 100%;
			height: 300px;
			background-repeat: no-repeat;
			background-size: cover;
			@include scale-avant(); 

		    &:hover{
			    @include scale-apres();
			    .info-categorie{
					display: block;
				}
				.info-ndemeur{
					display: block;
				}
		    }

		    &.maxNdem{
		    	@include animation-box(backplay,1s,infinite);
		    }
		}

		&.mode{
			background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/mode.jpg');
			width: 100%;
			height: 300px;
			background-repeat: no-repeat;
			background-size: cover;
			@include scale-avant(); 

		    &:hover{
			    @include scale-apres();
			    .info-categorie{
					display: block;
				}
				.info-ndemeur{
					display: block;
				}
		    }

		    &.maxNdem{
		    	@include animation-box(backplay,1s,infinite);
		    }
		}

		&.amour{
			background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/amour.jpg');
			width: 100%;
			height: 300px;
			background-repeat: no-repeat;
			background-size: cover;
			@include scale-avant(); 

		    &:hover{
			    @include scale-apres();
			    .info-categorie{
					display: block;
				}
				.info-ndemeur{
					display: block;
				}
		    }

		    &.maxNdem{
		    	@include animation-box(backplay,1s,infinite);
		    }
		}

		&.religion{
			background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/religion.jpg');
			width: 100%;
			height: 300px;
			background-repeat: no-repeat;
			background-size: cover;
			@include scale-avant(); 

		    &:hover{
			    @include scale-apres();
			    .info-categorie{
					display: block;
				}
				.info-ndemeur{
					display: block;
				}
		    }

		    &.maxNdem{
		    	@include animation-box(backplay,1s,infinite);
		    }
		}

		&.kwatt{
			background-image: url('http://bedingue.com/web/bundles/nnpplatform/images/kwatt.jpg');
			width: 100%;
			height: 300px;
			background-repeat: no-repeat;
			background-size: cover;
			@include scale-avant(); 

		    &:hover{
			    @include scale-apres();
			    .info-categorie{
					display: block;
				}
				.info-ndemeur{
					display: block;
				}
		    }

		    &.maxNdem{
		    	@include animation-box(backplay,1s,infinite);
		    }
		}

		.titre{
			padding: 10px;
			text-align: center;
			font-family: 'Oswald', sans-serif;
			font-size: 25px;
			background-color: $bordeau;
			color: $white;
			width: 70%;
			position: absolute;
			bottom: 30%;
			left: 15%;
		}

		.info-categorie{
			display: none;
			padding: 8px;
			text-align: center;
			font-family: 'Oswald', sans-serif;
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
			font-size: 16px;
			background-color: $white;
			color: $bordeau;
			width: 70%;
			position: absolute;
			bottom: 20%;
			left: 15%;
		}

		.info-ndemeur{
			display: none;
			padding: 8px;
			text-align: center;
			font-family: 'Oswald', sans-serif;
			font-size: 14px;
			background-color: $bleuciel;
			color: $white;
			width: 70%;
			position: absolute;
			bottom: 10%;
			left: 15%;
		}		
	}
}

.clear{
	clear: both;
}

.suggestionFollow{
	background-color: $bleuFonce;
	padding: 20px;
	color: $white;
	.ndemeurASuivre{
		margin-bottom: 10px;
		height: 55px;
		.chp{
			float:left;
			margin-bottom: 5px;
			&.photo{
				margin: 5px;
				width: 25%;
				width: 50px;
				height: 50px;
				background-repeat: no-repeat;
				background-size: cover;
			}

			&.name{
				width: 70%;
			}

			&.bio{
				width: 70%;
			}

			&.btn{
				font-family: 'Oswald', sans-serif;
				padding: 3px;
				text-align: center;
				border-radius: 2px;
				background-color: #fa4a6b;
				width: inherit;
				font-size: 14px;

				a{
					color: $white;
				}
				
			}
		}
	}
}

.zone-ndem{
	margin-bottom: 10px;
	margin-top: 20px;
	background-color: $white;
	@include border-radius(15px);
	.nd{
		float: left;
		padding: 10px;

		&.photo-ndem{
		}

		&.msg-ndem{
			width: 75%;
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
			.titre-ndem{
				font-family: 'Oswald', sans-serif;
				padding: 10px;
				float: left;
				width: 60%;
			}

			.texte-ndem{
				background-color: $grisClair;
				padding: 10px;
				color: $black;
				margin-left: 15px;
				float: left;
				width: 75%;
			}

			img{
				float: left;
				width: 100px;
			}
		}

		&.date-ndem{
			width: 10%;
			background-color: $bordeau;
			vertical-align: middle;
			color: $white;
			font-family: 'Oswald', sans-serif;
		} 

		&.btn-ndem{
			padding-top: 45px;
			width: 10%;
		}

		.btn-info{
			background-color: $bordeau;
			border-color: $bordeau;

			&:hover{
				background-color: $bleuciel;
				color: $white;
				border-color: $bleuciel;
			}
		}
	}
}

.bloc-ndem{
	padding: 10px;
	.ndem{
		padding: 10px;
		border: 1px solid $grisClair;

		.categorie{
			color: $bordeau;
			font-size: 18px;
			background-color: $grisClair;
			width: initial;
			font-family: 'Baloo Bhaina', cursive;
			padding: 10px;
		}

		.titre{
			background-color: $bleuBouton;
			padding: 5px;
			color: $white;
			font-family: 'Baloo Bhaina', cursive;
			padding-top: 13px;
		}

		.date{
			background-color: $bleuBouton;
			color: $white;
			font-style: italic;
			text-align: right;
			padding-right: 5px;
			padding-bottom: 5px;
		}

		p{
			padding: 15px;
			//border: 2px solid $bleuBouton;
			background-color: $white;
		}

		.info-ndem{
			text-align: right;
			background-color: $white;

			.commentaire {
				font-style: italic;
				margin-right: 5px;
				display: inline-block;
				color: $bordeau;
				font-family: 'Baloo Bhaina', cursive;
			}

			button {
				margin: 5px;
			}
		}
	}
}

.profil { 
	.sidebar{
		background-color: $bleuFonce;
		padding: 20px;
		color: $white;
		line-height: 24px;
		font-family: 'Oswald', sans-serif;
		@include ombrage($couleurOmbre);

		p{
			margin-bottom: 10px;
		}

		button{
			padding: 10px;
			width: 100%;
			background-color: $bordeau;
			color: $white;
			border-radius: 10px;
			border: none;
			margin-bottom: 20px;
			margin-bottom: 10px;
		}

		h1{
			color: $bordeau;
			font-size: 18px;
			background-color: $gris;
			width: 100%;
			margin-bottom: 10px;
			padding: 5px;
		}

		

		.identite {
			margin: 10px 0;
			color: $white;
			font-size: 20px;
			.nom {
				margin-bottom: 10px;
				font-weight: bold;
				background-color: $white;
				padding: 10px;
				color: $bordeau;
			}

			.biographie{
				background-color: $white;
				padding: 10px;
				margin-bottom: 10px;
				font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
				font-size: 16px;
				color: $gris;
			}

			.description {
				margin-top: 10px;
				margin-bottom: 10px;
				font-size: 16px;
				text-align: justify;
			}

			.intitule{
				font-family: 'Oswald', sans-serif;
				color: $gris;
			}
		}
		.info{
			p{
				margin-top: 10px;
				color: $bordeau;
				font-size: 18px;
				background-color: $grisClair;
				margin-bottom: 10px;
				padding: 5px;

				.chiffre{
					margin-right: 10px;
				}
			}
		}
	}

	.center{
		background-color: $white;
		padding: 20px;
		@include ombrage($couleurOmbre);
		h1{
			padding: 10px;
			text-align: left;
			font-family: 'Oswald', sans-serif;
			font-size: 25px;
			background-color: $grisClair;
			color: $bordeau;
			margin-bottom: 20px;
		}

		&.leNdem{
			h1{
				background: none;
				color: $bleuFonce;
			}
		}

		.bloc{
			display: inline-block;
			width: 45%;
			p{
				margin-bottom: 10px;
				.chiffre{
					margin-right: 10px;
				}
			}
		}

		.follower{
			img{
				margin-right: 10px;
			}
		}

		.formulaire{
			label{
				width: 30%;
			}
		}
	}
}

.divider{
	height: 2px;
	width: 100%;
	background-color: $black;
	margin-bottom: 10px;
	margin-top: 10px;
}

.sidebarNdem{
	background-color: $bleuFonce;
	padding: 20px;
	.intitule{
			color: $gris;
		}
	h2{
		padding: 10px;
			text-align: left;
			font-family: 'Oswald', sans-serif;
			font-size: 25px;
			background-color: $grisClair;
			color: $bordeau;

		a{
			color: $bordeau;
		}
	}

	.liens{
		width: 100%;
		text-align: center;
		a{
			color: $white;
		}

		.lien {
			font-family: 'Oswald', sans-serif;
			padding: 10px;
			text-align: center;
			border-radius: 2px;
			background-color: $bordeau;
			width: inherit;
			margin-bottom: 5px;
			margin-top: 8px;
			font-size: 20px;
		}

		.infoAuteur{
			font-family: 'Oswald', sans-serif;
			color: $bordeau;
			margin-top: 7px;
			a{
				color: $bordeau;
			}
		}
	}
}



.leNdem{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 28px;

	h1{
		background: none;
		color: $black;
	}
	.date{
		width: 100%;
		text-align: right;
		margin-bottom: 10px;
		border-bottom: 1px solid $gris;
		padding-bottom: 10px;
		color: $grisSombre;
	}

	.nrbCom{
		font-family: 'Oswald', sans-serif;
		color: $bordeau;
	}

	.user{
		background-color: $bleuciel;
		color: $white;
		padding: 5px;
	}

	.userCoach{
		background-color: $bordeau;
		color: white;
		padding: 5px;
		&::before{
			content: "LE COACH";
			color: $bordeau;
			background-color: $white;
			padding: 10px;
			margin: 10px;
			font-family: 'Oswald', sans-serif;
		}
	}

	.post{
		padding: 10px;
		border-left: 2px solid $bleuciel;
	}

	.postCoach{
		padding: 10px;
		border-left: 2px solid $bordeau;
	}
}

.comment{
	padding: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	label{
		width: 100%;
		font-weight: bold;
		margin-bottom: 10px;
		display: none;
	}

	textarea{
		width: 100%;
		height: 90px;
		padding: 10px;
	}

	button{
		padding: 10px;
		width: 30%;
		background-color: $bordeau;
		color: $white;
		border: none;
		margin-left: 65%;
		margin-bottom: 10px;

		&:hover{
			background-color: $bleuciel;
		}
	}

	.leComment{
		background-color: $white;
		padding:10px;
		margin-bottom: 10px;
	}
}

.liste{
	
	width: 100%;
	padding: 20px;
	min-height: 600px;
	height: 100%;

	h1{
		color: $bordeau;
		font-size: 18px;
		background-color: $white;
		width: 100%;
		margin-bottom: 10px;
		padding: 10px;
		font-family: 'Oswald', sans-serif;
	}

	.bloc-ndem{
		width: 46%;
		margin-left: 20px;
		float: left;
	}
}

.bande-stat{
	margin-top: 50px;
	.stat{
		//font-family: 'Baloo Bhaina', cursive;
		font-family: 'Oswald', sans-serif;
		text-align: center;
		font-size: 25px;

		.chf{
			color: $bordeau;
			font-size: 45px;
		}
	}
}

.ndemeur-recherche{
	float: left;
	margin: 20px;
	border: 10px solid $grisClair;
	&:hover{
		border: 10px solid $bordeau;
		.ndemeur-info{
			background-color: $bordeau;
			color: $white;
		}
	}
}

.ndemeur-info{
	text-align: center;
	padding: 3px;
}

.topfooter{
	background-color: $grisSombre;
	.icon{
		width: 30px;
		height: 30px;
		background-color:$bordeau;
		display: inline-block;
		margin-left: 8px;

		i {
			color: $white;
			padding: 7px;
		}
	}

	.foot-menu{

		a{
			color: $white;
			&:hover{
				color: $bordeau;
			}
		}
	}

	.foot-social{
		padding-top: 10px;
	}
}

.footer {
	background-color: $black;
	padding: 10px;
	color: $gris;
	margin-bottom: 0;
}


#app_user_registration, .formulaire{
	padding: 20px;
	font-family: 'Inconsolata', monospace;
	div{
		margin-top: 20px;
		margin-bottom: 20px;
		label{
			width: 30%;
			
		}

		input{
			width: 65%;
			padding: 10px;
			@include ombrage($grisClair);
		}

		#form_categories{
			width: 65%;
			height: 150px;
			padding: 10px;
			vertical-align: top;
		}

		textarea{
			width: 65%;
			height: 200px;
			padding: 10px;
			vertical-align: top;
		}

		button{
			padding: 10px;
			width: 100%;
			background-color: $bordeau;
			color: $white;
			border-radius: 10px;
			border: none;
			margin-bottom: 20px;
			margin-bottom: 10px;
		}
	}

	/* & :nth-child(even){
	  background-color: #dcdcdc;
	  margin-bottom: 20px;
	  margin-top: 20px;
	}  */
}