/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/main.scss */
img {
  vertical-align: middle;
}

/* line 14, ../sass/main.scss */
.container {
  font-family: 'Inconsolata', monospace;
}

/* line 18, ../sass/main.scss */
.container-fluid {
  padding: 0;
}

/* line 22, ../sass/main.scss */
.alignCenter {
  text-align: center;
}

/* line 26, ../sass/main.scss */
.top-header {
  background-color: #fa4a6b;
  font-family: 'Oswald', sans-serif;
}
/* line 32, ../sass/main.scss */
.top-header .top-menu a {
  color: #ffffff;
}
/* line 34, ../sass/main.scss */
.top-header .top-menu a:hover {
  color: #fa4a6b;
}
/* line 40, ../sass/main.scss */
.top-header .reseaux {
  text-align: right;
  color: #ffffff;
}
/* line 43, ../sass/main.scss */
.top-header .reseaux .icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 8px;
}
/* line 50, ../sass/main.scss */
.top-header .reseaux .info-user {
  display: inline-block;
}
/* line 54, ../sass/main.scss */
.top-header .reseaux .info-user .nav li {
  color: #ffffff;
}
/* line 56, ../sass/main.scss */
.top-header .reseaux .info-user .nav li .caret {
  margin-left: 20px;
  zoom: document;
}
/* line 60, ../sass/main.scss */
.top-header .reseaux .info-user .nav li.open {
  background-color: #fa4a6b;
}
/* line 62, ../sass/main.scss */
.top-header .reseaux .info-user .nav li.open a {
  color: #fa4a6b;
}
/* line 65, ../sass/main.scss */
.top-header .reseaux .info-user .nav li.open ul {
  background-color: #7b7b7b;
}
/* line 68, ../sass/main.scss */
.top-header .reseaux .info-user .nav li.open ul li a {
  color: #ffffff;
}
/* line 70, ../sass/main.scss */
.top-header .reseaux .info-user .nav li.open ul li a:hover {
  color: #fa4a6b;
}
/* line 79, ../sass/main.scss */
.top-header .reseaux .info-user .nav li a {
  color: #ffffff;
}
/* line 81, ../sass/main.scss */
.top-header .reseaux .info-user .nav li a:hover {
  color: #fa4a6b;
}

/* line 90, ../sass/main.scss */
.header {
  width: 100%;
  height: 150px;
}
/* line 95, ../sass/main.scss */
.header .photoConnecte {
  text-align: right;
  background-color: #fa4a6b;
  padding: 10px;
}

/* line 102, ../sass/main.scss */
.bloclendem {
  background-image: url("http://localhost/nendempas/web/bundles/nnpplatform/images/fondndem.jpg");
  width: 100%;
}

/* line 108, ../sass/main.scss */
.bande {
  background-color: #fa4a6b;
  -moz-box-shadow: 0px 4px 9px 0px #656565;
  -webkit-box-shadow: 0px 4px 9px 0px #656565;
  -o-box-shadow: 0px 4px 9px 0px #656565;
  box-shadow: 0px 4px 9px 0px #656565;
}
/* line 111, ../sass/main.scss */
.bande .menu-central {
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
/* line 116, ../sass/main.scss */
.bande .menu-central a {
  color: #ffffff;
}
/* line 118, ../sass/main.scss */
.bande .menu-central a:hover {
  color: #fa4a6b;
}
/* line 123, ../sass/main.scss */
.bande .menu-central .glyphicon {
  color: #ffffff;
}
/* line 125, ../sass/main.scss */
.bande .menu-central .glyphicon:hover {
  color: #fa4a6b;
}

/* line 133, ../sass/main.scss */
.logo {
  position: absolute;
  top: 16px;
  left: 190px;
  z-index: 22;
}

/* line 140, ../sass/main.scss */
.connexion {
  width: 380px;
  background-color: rgba(250, 74, 107, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 208px;
  right: 133px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 14px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 153, ../sass/main.scss */
.connexion .logwith {
  width: 42%;
  margin-left: 5%;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  float: left;
  padding: 10px;
  margin-top: 10px;
}
/* line 162, ../sass/main.scss */
.connexion .logwith.fbk {
  background-color: #3B5998;
}
/* line 165, ../sass/main.scss */
.connexion .logwith.gml {
  background-color: #DF4A32;
}
/* line 169, ../sass/main.scss */
.connexion .logwith a {
  color: #ffffff;
}
/* line 174, ../sass/main.scss */
.connexion.register {
  bottom: 94px;
}
/* line 178, ../sass/main.scss */
.connexion .loggin {
  width: 89%;
  float: left;
  margin-left: 5%;
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px;
}
/* line 188, ../sass/main.scss */
.connexion .loggin label {
  width: 45%;
  padding-bottom: 7px;
  padding-top: 7px;
}
/* line 194, ../sass/main.scss */
.connexion .loggin input {
  background-color: #e3e1e1;
  border: 1px solid #adadad;
  padding: 5px;
  width: 50%;
  margin-bottom: 10px;
}
/* line 202, ../sass/main.scss */
.connexion .loggin input[type=submit] {
  width: 100%;
  margin-top: 10px;
  background-color: #3B5998;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  color: #ffffff;
}
/* line 213, ../sass/main.scss */
.connexion .loggin #fos_user_registration_form div {
  margin-bottom: 5px;
}
/* line 217, ../sass/main.scss */
.connexion .loggin #fos_user_registration_form input {
  width: 55%;
  background-color: #e3e1e1;
  border: 1px solid #adadad;
}
/* line 225, ../sass/main.scss */
.connexion .newlog {
  width: 89%;
  float: left;
  margin-left: 5%;
  background-color: #40affc;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  border: solid #dae6ff 5px;
  background: #6db3f2;
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 54%, #1e69de 100%);
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 54%, #1e69de 100%);
  background: linear-gradient(to bottom, #6db3f2 0%, #54a3ee 50%, #3690f0 54%, #1e69de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 242, ../sass/main.scss */
.connexion .newlog a {
  color: #ffffff;
}
/* line 244, ../sass/main.scss */
.connexion .newlog a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* line 252, ../sass/main.scss */
.slider {
  background-image: url("http://localhost/nendempas/web/bundles/nnpplatform/images/banniere1.jpg");
  width: 100%;
  height: 500px;
  -moz-box-shadow: 0px 4px 9px 0px #656565;
  -webkit-box-shadow: 0px 4px 9px 0px #656565;
  -o-box-shadow: 0px 4px 9px 0px #656565;
  box-shadow: 0px 4px 9px 0px #656565;
}

/* line 268, ../sass/main.scss */
.home-1 {
  margin-top: 20px;
  padding: 20px 0;
}
/* line 271, ../sass/main.scss */
.home-1 .theme {
  float: left;
  margin-left: 10px;
  width: 30%;
  -moz-box-shadow: 0px 4px 9px 0px #656565;
  -webkit-box-shadow: 0px 4px 9px 0px #656565;
  -o-box-shadow: 0px 4px 9px 0px #656565;
  box-shadow: 0px 4px 9px 0px #656565;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
/* line 280, ../sass/main.scss */
.home-1 .theme.carriere {
  background-image: url("http://localhost/nendempas/web/bundles/nnpplatform/images/carriere.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 288, ../sass/main.scss */
.home-1 .theme.njoka {
  background-image: url("http://localhost/nendempas/web/bundles/nnpplatform/images/njoka.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 296, ../sass/main.scss */
.home-1 .theme.mode {
  background-image: url("http://localhost/nendempas/web/bundles/nnpplatform/images/mode.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 304, ../sass/main.scss */
.home-1 .theme.amour {
  background-image: url("http://localhost/nendempas/web/bundles/nnpplatform/images/amour.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 312, ../sass/main.scss */
.home-1 .theme.religion {
  background-image: url("http://localhost/nendempas/web/bundles/nnpplatform/images/religion.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 320, ../sass/main.scss */
.home-1 .theme.kwatt {
  background-image: url("http://localhost/nendempas/web/bundles/nnpplatform/images/kwatt.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 328, ../sass/main.scss */
.home-1 .theme .titre {
  padding: 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  background-color: #fa4a6b;
  color: #ffffff;
  width: 70%;
  position: absolute;
  bottom: 30%;
  left: 15%;
}

/* line 345, ../sass/main.scss */
.bloc-ndem {
  padding: 10px;
}
/* line 347, ../sass/main.scss */
.bloc-ndem .ndem {
  padding: 10px;
  border: 1px solid #e3e1e1;
}
/* line 351, ../sass/main.scss */
.bloc-ndem .ndem .categorie {
  color: #fa4a6b;
  font-size: 18px;
  background-color: #e3e1e1;
  width: initial;
  font-family: 'Baloo Bhaina', cursive;
  padding: 10px;
}
/* line 360, ../sass/main.scss */
.bloc-ndem .ndem .titre {
  background-color: #5BC0DE;
  padding: 5px;
  color: #ffffff;
  font-family: 'Baloo Bhaina', cursive;
  padding-top: 13px;
}
/* line 368, ../sass/main.scss */
.bloc-ndem .ndem .date {
  background-color: #5BC0DE;
  color: #ffffff;
  font-style: italic;
  text-align: right;
  padding-right: 5px;
  padding-bottom: 5px;
}
/* line 377, ../sass/main.scss */
.bloc-ndem .ndem p {
  padding: 15px;
  background-color: #ffffff;
}
/* line 383, ../sass/main.scss */
.bloc-ndem .ndem .info-ndem {
  text-align: right;
  background-color: #ffffff;
}
/* line 387, ../sass/main.scss */
.bloc-ndem .ndem .info-ndem .commentaire {
  font-style: italic;
  margin-right: 5px;
  display: inline-block;
  color: #fa4a6b;
  font-family: 'Baloo Bhaina', cursive;
}
/* line 395, ../sass/main.scss */
.bloc-ndem .ndem .info-ndem button {
  margin: 5px;
}

/* line 403, ../sass/main.scss */
.profil .sidebar {
  background-color: #7b7b7b;
  padding: 20px;
  color: #ffffff;
  line-height: 24px;
  font-family: 'Oswald', sans-serif;
  -moz-box-shadow: 0px 4px 9px 0px #656565;
  -webkit-box-shadow: 0px 4px 9px 0px #656565;
  -o-box-shadow: 0px 4px 9px 0px #656565;
  box-shadow: 0px 4px 9px 0px #656565;
}
/* line 411, ../sass/main.scss */
.profil .sidebar p {
  margin-bottom: 10px;
}
/* line 415, ../sass/main.scss */
.profil .sidebar button {
  padding: 10px;
  width: 100%;
  background-color: #fa4a6b;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  margin-bottom: 10px;
}
/* line 426, ../sass/main.scss */
.profil .sidebar h1 {
  color: #fa4a6b;
  font-size: 18px;
  background-color: #adadad;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
/* line 437, ../sass/main.scss */
.profil .sidebar .identite {
  margin: 10px 0;
  color: #ffffff;
  font-size: 20px;
}
/* line 441, ../sass/main.scss */
.profil .sidebar .identite .nom {
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 10px;
  color: #fa4a6b;
}
/* line 449, ../sass/main.scss */
.profil .sidebar .identite .description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: justify;
}
/* line 456, ../sass/main.scss */
.profil .sidebar .identite .intitule {
  color: #adadad;
}
/* line 461, ../sass/main.scss */
.profil .sidebar .info p {
  margin-top: 10px;
  color: #fa4a6b;
  font-size: 18px;
  background-color: #e3e1e1;
  margin-bottom: 10px;
  padding: 5px;
}
/* line 469, ../sass/main.scss */
.profil .sidebar .info p .chiffre {
  margin-right: 10px;
}
/* line 476, ../sass/main.scss */
.profil .center {
  background-color: #ffffff;
  padding: 20px;
  -moz-box-shadow: 0px 4px 9px 0px #656565;
  -webkit-box-shadow: 0px 4px 9px 0px #656565;
  -o-box-shadow: 0px 4px 9px 0px #656565;
  box-shadow: 0px 4px 9px 0px #656565;
}
/* line 480, ../sass/main.scss */
.profil .center h1 {
  padding: 10px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  background-color: #e3e1e1;
  color: #fa4a6b;
  margin-bottom: 20px;
}
/* line 492, ../sass/main.scss */
.profil .center .bloc {
  display: inline-block;
  width: 45%;
}
/* line 495, ../sass/main.scss */
.profil .center .bloc p {
  margin-bottom: 10px;
}
/* line 497, ../sass/main.scss */
.profil .center .bloc p .chiffre {
  margin-right: 10px;
}
/* line 504, ../sass/main.scss */
.profil .center .follower img {
  margin-right: 10px;
}
/* line 510, ../sass/main.scss */
.profil .center .formulaire label {
  width: 30%;
}

/* line 517, ../sass/main.scss */
.divider {
  height: 2px;
  width: 100%;
  background-color: #000000;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 525, ../sass/main.scss */
.sidebarNdem {
  background-color: #e3e1e1;
  padding: 20px;
}
/* line 528, ../sass/main.scss */
.sidebarNdem .intitule {
  color: #adadad;
}
/* line 531, ../sass/main.scss */
.sidebarNdem h2 {
  padding: 10px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  background-color: #e3e1e1;
  color: #fa4a6b;
  margin-bottom: 20px;
}
/* line 541, ../sass/main.scss */
.sidebarNdem .liens {
  padding: 10px;
  width: 100%;
}
/* line 544, ../sass/main.scss */
.sidebarNdem .liens a {
  color: #ffffff;
}
/* line 548, ../sass/main.scss */
.sidebarNdem .liens .lien {
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  background-color: #fa4a6b;
  width: inherit;
  margin-bottom: 5px;
  margin-top: 8px;
  font-size: 20px;
}
/* line 560, ../sass/main.scss */
.sidebarNdem .liens .infoAuteur {
  font-family: 'Oswald', sans-serif;
  color: #fa4a6b;
  margin-top: 7px;
}
/* line 564, ../sass/main.scss */
.sidebarNdem .liens .infoAuteur a {
  color: #fa4a6b;
}

/* line 574, ../sass/main.scss */
.leNdem .date {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  border-bottom: 1px solid #adadad;
  padding-bottom: 10px;
  font-weight: bold;
  font-style: italic;
}
/* line 584, ../sass/main.scss */
.leNdem .nrbCom {
  font-family: 'Oswald', sans-serif;
  color: #fa4a6b;
}
/* line 589, ../sass/main.scss */
.leNdem .user {
  background-color: #40affc;
  color: #ffffff;
  padding: 5px;
}
/* line 595, ../sass/main.scss */
.leNdem .userCoach {
  background-color: #fa4a6b;
  color: white;
  padding: 5px;
}
/* line 599, ../sass/main.scss */
.leNdem .userCoach::before {
  content: "LE COACH";
  color: #fa4a6b;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  font-family: 'Oswald', sans-serif;
}
/* line 609, ../sass/main.scss */
.leNdem .post {
  padding: 10px;
  border-left: 2px solid #40affc;
}
/* line 614, ../sass/main.scss */
.leNdem .postCoach {
  padding: 10px;
  border-left: 2px solid #fa4a6b;
}

/* line 620, ../sass/main.scss */
.comment {
  margin-top: 50px;
  padding: 20px;
  background-color: #e3e1e1;
}
/* line 625, ../sass/main.scss */
.comment label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 631, ../sass/main.scss */
.comment textarea {
  width: 100%;
  height: 90px;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 638, ../sass/main.scss */
.comment button {
  padding: 10px;
  width: 30%;
  background-color: #fa4a6b;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  margin-left: 65%;
  margin-bottom: 10px;
}
/* line 649, ../sass/main.scss */
.comment .leComment {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 656, ../sass/main.scss */
.liste {
  width: 100%;
  padding: 20px;
  min-height: 600px;
  height: 100%;
}
/* line 663, ../sass/main.scss */
.liste h1 {
  color: #fa4a6b;
  font-size: 18px;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}
/* line 673, ../sass/main.scss */
.liste .bloc-ndem {
  width: 46%;
  margin-left: 20px;
  float: left;
}

/* line 680, ../sass/main.scss */
.bande-stat {
  margin-top: 50px;
}
/* line 682, ../sass/main.scss */
.bande-stat .stat {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 25px;
}
/* line 688, ../sass/main.scss */
.bande-stat .stat .chf {
  color: #fa4a6b;
  font-size: 45px;
}

/* line 695, ../sass/main.scss */
.footer {
  background-color: #000000;
  padding: 10px;
  color: #adadad;
  margin-bottom: 0;
}

/* line 703, ../sass/main.scss */
#app_user_registration, .formulaire {
  padding: 20px;
  font-family: 'Inconsolata', monospace;
  /* & :nth-child(even){
    background-color: #dcdcdc;
    margin-bottom: 20px;
    margin-top: 20px;
  }  */
}
/* line 706, ../sass/main.scss */
#app_user_registration div, .formulaire div {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 709, ../sass/main.scss */
#app_user_registration div label, .formulaire div label {
  width: 30%;
}
/* line 714, ../sass/main.scss */
#app_user_registration div input, .formulaire div input {
  width: 65%;
  padding: 10px;
  -moz-box-shadow: 0px 4px 9px 0px #e3e1e1;
  -webkit-box-shadow: 0px 4px 9px 0px #e3e1e1;
  -o-box-shadow: 0px 4px 9px 0px #e3e1e1;
  box-shadow: 0px 4px 9px 0px #e3e1e1;
}
/* line 720, ../sass/main.scss */
#app_user_registration div #form_categories, .formulaire div #form_categories {
  width: 65%;
  height: 150px;
  padding: 10px;
  vertical-align: top;
}
/* line 727, ../sass/main.scss */
#app_user_registration div textarea, .formulaire div textarea {
  width: 65%;
  height: 200px;
  padding: 10px;
  vertical-align: top;
}
/* line 734, ../sass/main.scss */
#app_user_registration div button, .formulaire div button {
  padding: 10px;
  width: 100%;
  background-color: #fa4a6b;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  margin-bottom: 10px;
}
