
{% extends "::base.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block body %}
<div class="container-fluid">
	<section class="slider">
    	<div class="row">
    		<div class="col-lg-2"></div>
    		<div class="col-lg-5"></div>
    		<div class="col-lg-4 connexion">
    			<div class="logwith fbk">Connect with Facebook</div>
    			<div class="logwith gml">Connect with Gmail</div>
    			<div class="loggin"></div>
    			<div class="newlog">Nouveau membre ? Inscris-toi !</div>
    		</div>
    		<div class="col-lg-1"></div>
    	</div>
    </section>
</div>
<div class="container">
	<section>
		<div class="row bande-stat">
			<div class="col-lg-3 stat">
				<span class="chf">12</span><br/>
				NDEMS D'AMOUR<br/>abordés
			</div>
    		<div class="col-lg-3 stat">
    			<span class="chf">30</span><br/>
    			NDEMS DE CARRIERE<br/>abordés
    		</div>
    		<div class="col-lg-3 stat">
    			<span class="chf">120</span><br/>
    			NDEMS DE NJOKA<br/>abordés
    		</div>
    		<div class="col-lg-3 stat">
    			<span class="chf">32</span><br/>
    			NDEMS DE MODE<br/>abordés
    		</div>
		</div>
	</section>
</div>
{% endblock %}
