
{% extends "::base.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block body %}
<div class="container-fluid">
	<section class="slider">
    	<div class="row">
    		<div class="col-lg-8"></div>
    		<div class="col-lg-4 connexion"></div>
    	</div>
    </section>
</div>
{% endblock %}
