{# src/NNP/UserBundle/Resources/views/layout.html.twig #}

{% extends "::base.html.twig" %}
{% block title %}Homepage{% endblock %}
{% block connexion %}
<div class="connexion">
  {# <div class="logwith fbk">Connect with Facebook</div>
  <div class="logwith gml">Connect with Gmail</div> #}
  <div class="loggin">

    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
      {% for message in messages %}
        <div class="alert alert-{{ key }}">
          {{ message|trans({}, 'FOSUserBundle') }}
        </div>
      {% endfor %}
    {% endfor %}
    {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
    {% block fos_user_content %}
    {% endblock fos_user_content %}

  </div>
  <div class="newlog"><a href="{{ path('fos_user_registration_register') }}">Nouveau membre ? Inscris-toi !</a></div>
</div>
{% endblock %}
{% block body %}


<div class="container">
  <section>
    <div class="row bande-stat">
      <div class="col-lg-3 stat">
        <span class="chf">12</span><br/>
        NDEMS D'AMOUR<br/>abordés
      </div>
        <div class="col-lg-3 stat">
          <span class="chf">30</span><br/>
          NDEMS DE CARRIERE<br/>abordés
        </div>
        <div class="col-lg-3 stat">
          <span class="chf">120</span><br/>
          NDEMS DE NJOKA<br/>abordés
        </div>
        <div class="col-lg-3 stat">
          <span class="chf">32</span><br/>
          NDEMS DE MODE<br/>abordés
        </div>
    </div>
  </section>
</div>
{% endblock %}
